* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

.button-header {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #fff;

}

.logo {
    margin: 163px 0 0 121px;
    display: inline-block;
}


section {
    display: inline-block;
    margin-left: 84px;

}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;

}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.btn-leia {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    background: transparent;
    border: none;

}

@media screen and (max-width: 600px) {

* {
    overflow: hidden;
}

    header {
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 40px;
    
    }

    .link-header {
        font-size: 10px;
        align-items: center;
        margin: auto;
    }

    .logo {
        margin: 30px auto 0 auto;
        display: block;
        text-align: center;
        width: 60%;
    }

    section {
        display: block;
        margin: 40px auto 0 auto;
        width: 90%;
        text-align: center;
    }

    h1 {
        width: 100%;
        font-size: 28px;
        line-height: 60px;
    }

    p {
        width: 100%;
        font-size: 16px;
        line-height: 28px;
        margin-top: 30px;
    }

    .btn-leia {
        font-size: 16px;
    }
}